# Visible from com.sun.midp.Configuration.getProperty(key)
#
# System tunable parameters  (system prefix indicates native only access)
#
system.jam_space:	1000000
system.display.double_buffered:true
system.display.screen_depth: 8
system.i18n.lang: en
system.i18n.encoding: ISO8859_1
#
# system.display.debug_screen: 
# system.display.visual_type: TrueColor
# system.display.kh_skins: TrueColor
#
# com.sun.midp.io.j2me.comm.buffersize: 256
# com.sun.midp.io.j2me.socket.buffersize: 256
#
com.sun.midp.midlet.scheduler: com.sun.midp.midlet.Scheduler
#
com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.DefaultEventHandler
# For J2SE
# com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.AWTEventHandler
#
com.sun.midp.lcdui.inputHandler: com.sun.midp.lcdui.DefaultInputMethodHandler
#
# com.sun.midp.midletsuite.installer: com.sun.midp.midletsuite.Installer
# com.sun.midp.midletsuite.installer: com.sun.midp.midletsuite.SecureInstaller
#
# com.sun.midp.graphicalmanager: com.sun.midp.dev.Manager
#
# com.sun.midp.lcdui.skin: classes/icons/skin.gif
#
#com.sun.midp.io.http.proxy: webcache:8080
#com.sun.midp.io.http.force_non_persistent: false
#com.sun.midp.io.http.persistent_connection_linger_time: 60000
#com.sun.midp.io.http.input_buffer_size: 256
#com.sun.midp.io.http.output_buffer_size: 2048
com.sun.midp.io.http.max_persistent_connections: 4
###
# Default values for SMS internal implementation.
com.sun.midp.io.j2me.sms.DatagramHost: localhost
#
# Alternate SMS port for CBS emulation
com.sun.midp.io.j2me.sms.CBSPort: 24680
# Sender's phone number
com.sun.midp.io.j2me.sms.PhoneNumber=+5551212
# Default SMS Sercice Center address
wireless.messaging.sms.smsc: +17815511212

# This file is appended at the end of the MIDP internal.config file.

com.sun.midp.io.enable_extra_protocols: true
com.sun.midp.io.http.use_chunks: true

# This file is appended at the end of the MIDP internal.config file.

# SATSA configuration parameters
com.sun.satsa.keygen: true
com.sun.satsa.opaquesig: true
com.sun.satsa.certsig: true
com.sun.midp.io.j2me.apdu.satselectapdu: 00.a4.04.00.07.a0.00.00.00.62.3.1.7F
com.sun.satsa.store_csr_list: true

# This file is appended at the end of the MIDP internal.config file.

# MIA configuration parameters
# leapfrog implementation
microedition.global.collation.abstractionlayer: com.sun.j2me.global.CollationAbstractionLayerImpl
microedition.global.format.abstractionlayer: com.sun.j2me.global.FormatAbstractionLayerImpl
microedition.global.resource.abstractionlayer: com.sun.j2me.global.ResourceAbstractionLayerImpl
microedition.global.root: global/
microedition.global.common: common
microedition.global.collation: _coltable, _coltableZH, _coltableJA
microedition.global.collation._coltable.locales: "" = 0; en, en-US, he, he-IL = 3; sk, sk-SK = 4; cs, cs-CZ = 5; es, es-ES = 6
microedition.global.collation._coltable.maxcontr: 3
microedition.global.collation._coltableZH.locales: zh, zh-CN = 1
microedition.global.collation._coltableZH.maxcontr: 3
microedition.global.collation._coltableJA.locales: ja, ja-JP = 2
microedition.global.collation._coltableJA.maxcontr: 4
microedition.global.normalization: _nrmtable
microedition.global.normalization.maxdecomp: 4

# This file is appended at the end of the MIDP system.config file.

# JSR229
microedition.payment.paymentmodule: com.sun.kvem.payment.KvemPaymentModule

# JSR226
pisces.stroke.xbias: 32768
pisces.stroke.ybias: 32768

# This file is appended at the end of the MIDP internal.config file.

# JSR180 (SIP) configuration parameters
sip.display.name: Happy User
sip.address: sip:happy.user@thedomain.com
sip.port: 5070
com.sun.midp.io.j2me.sip.SharedPort: 5060 

