# Properties visible from System.getProperty()
microedition.jtwi.version: 1.0
microedition.msa.version: 1.0
microedition.configuration: CLDC-1.1
microedition.profiles: MIDP-2.1
microedition.locale:  en-US
microedition.platform: SunMicrosystems_wtk
device.manufacturer: unknown 
device.model: wtk-emulator
software.version: 1.0
# microedition.encoding: ISO8859_1

#
# Available comm ports. In case that this property is not available in this file,
# emulator is attempting to obtain real system comm ports
microedition.commports: COM1,COM2

#
# I18N aliases for common character encodings
SHIFT_JIS_InternalEncodingName: SJIS
X_SJIS_InternalEncodingName: SJIS
#
# CLDC implementation parameters

# use MIDP protocol implementations
javax.microedition.io.Connector.protocolpath: com.sun.kvem.io

# java.lang.Character.caseConverter: com.sun.cldc.i18n.uclc.DefaultCaseConverter
# com.sun.cldc.i18n.Helper.i18npath: com.sun.cldc.i18n.j2me
# microedition.implpath: com.sun.cldc
# com.sun.cldc.util.j2me.TimeZoneImpl.timezone: UTC

# JSR082 properties
com.sun.kvem.jsr082.bluetooth.BCC: com.sun.kvem.jsr082.impl.bluetooth.BluetoothController
com.sun.kvem.jsr082.bluetooth.SDDBStorage: com.sun.kvem.jsr082.impl.bluetooth.SDDBStorageImpl

# WMA properties
wireless.messaging.version: 2.0

# This file is appended at the end of the MIDP system.config file.

# WMA
wireless.messaging.sms.smsc: +12345678900
wireless.messaging.mms.mmsc: http://mmsc.127.0.0.01

# Multimedia Configuration properties
mmapi-configuration: com.sun.mmedia.WtkQSoundAmmsConfig

microedition.media.version: 1.1
supports.mixing: true
supports.audio.capture: false
supports.video.capture: true
supports.recording: true
video.encodings: encoding=rgb565&width=160&height=120 encoding=rgb565&width=320&height=240 encoding=rgb565&width=120&height=160
video.snapshot.encodings: encoding=jpeg encoding=png
streamable.contents: audio/x-wav
# AMMS system properties
microedition.amms.version: 1.0
supports.mediacapabilities: imageencoding imagepostprocessing audio3d camera tuner
audio.samplerates: 44100 22050
audio3d.simultaneouslocations: 32
tuner.modulations: fm am
camera.resolutions: video:176x144
camera.orientations: video:unknown


# This file is appended at the end of the MIDP system.config file.

# JSR75
microedition.io.file.FileConnection.version: 1.0
microedition.pim.version: 1.0
fileconn.dir.photos: /root1/photos/
fileconn.dir.videos: /root1/videos/
fileconn.dir.graphics: /root1/graphics/
fileconn.dir.tones: /root1/tones/
fileconn.dir.music: /root1/music/
fileconn.dir.recordings: /root1/recordings/
# This file is appended at the end of the MIDP system.config file.

# JSR82
bluetooth.api.version: 1.1
obex.api.version: 1.1

# This file is appended at the end of the MIDP system.config file.

# JSR179
microedition.location.version: 1.0

# This file is appended at the end of the MIDP system.config file.

# JSR184
microedition.m3g.version: 1.1
microedition.m3d.version: 1.1
# This file is appended at the end of the MIDP system.config file.

# JSR239 properties
microedition.khronos.egl.version: 1.1
microedition.khronos.opengles.version: 1.1
jsr239.noqueue: false
jsr239.supportsEGL11: true
jsr239.supportsGL11: true
jsr239.supports_OES_query_matrix: true
jsr239.supports_OES_draw_texture: true
jsr239.supports_OES_matrix_palette: true
jsr239.supports_OES_point_size: true
jsr239.supports_OES_texture_cube_map: false
jsr239.supports_OES_texture_env_crossbar: false
jsr239.supports_OES_texture_mirrored_repeat: false
jsr239.supports_OES_blend_subtract: false
jsr239.supports_OES_blend_func_separate: false
jsr239.supports_OES_blend_equation_separate: false
jsr239.supports_OES_stencil_wrap: false
jsr239.supports_OES_extended_matrix_palette: false
jsr239.supports_OES_framebuffer_object: false


# This file is appended at the end of the MIDP system.config file.

# JSR238

# leapfrog-cougar implementation 
microedition.global.version: 1.0

# wtk
binary.files.accept = png,jpg,gif
text.files.accept = txt,properties

# This file is appended at the end of the MIDP system.config file.

#JSR177
microedition.smartcardslots: 0H,1H
microedition.satsa.apdu.version: 1.0
microedition.satsa.crypto.version: 1.0
microedition.satsa.pki.version: 1.0
# This file is appended at the end of the MIDP system.config file.

# JSR211
microedition.chapi.version: 1.0

# This file is appended at the end of the MIDP system.config file.

# JSR229
microedition.payment.version: 1.1

# This file is appended at the end of the MIDP system.config file.

# JSR226
microedition.m2g.version: 1.1
microedition.m2g.svg.baseProfile: tiny
microedition.m2g.svg.version: 1.1

#JSR172 - Web Services API part
xml.rpc.subset.version: 1.0
#JSR172 - JAXP XML Parser part
xml.jaxp.subset.version: 1.0

# JSR180
microedition.sip.version: 1.0.1
